.container-cardItens {
  width: 250px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Adiciona espaçamento entre os elementos dentro do card */
  transition: box-shadow 0.3s ease;
}

.container-cardItens:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-cardItens img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.container-cardItens h2 {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.container-cardItens p {
  margin-bottom: 10px;
}

.container-cardItens .item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-cardItens .price-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-cart-btn {
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.add-cart-btn:hover {
  background-color: #27ae60;
}