.container-info {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    /* Altera de coluna para linha */
}

.icone {
    margin-right: 10px;
    color: #000;
}

.texto {
    margin-right: 30px;
    color: #000;
}

.titulo {}