.nav-links-container a {
    color: #000; 
    text-decoration: none; 
    padding: 5px 10px; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
  }
  
  .nav-links-container a:hover {
    background-color: #ddd; 
  }
  
  .nav-links-container a:active {
    background-color: #ccc; 
  }
  