.pesquisa-container {
    display: flex;
    align-items: center;
}

.pesquisa-input {
    flex: 1;
    width: 340px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
    /* Adicionei um espaçamento à direita */
}

.pesquisa-input::placeholder {
    color: #999;
}

.pesquisa-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.pesquisa-button:hover {
    background-color: #27ae60;
}

.error {
    color: red;
    margin-top: 5px;
    margin-top: 10px;
    /* Mantive a margem superior */
    margin-right: 20px;
    /* Ajustei a margem à direita */
}